<div class="productsCart">
    <div class="cartItem" *ngFor="let item of product">
        <mat-card class="example-card flex">
            <mat-card-header>
                <mat-card-title>{{item.name}}
                    <mat-divider></mat-divider>
                        <span>${{item.price}}</span>
                </mat-card-title>
                <!-- <mat-card-subtitle>{{item.price}}</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image src="{{item.img}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
                {{item.details}}
            </mat-card-content>
            <mat-card-actions>
                <button (click)="makePayment('{{item.price}}')" mat-button><mat-icon>payment</mat-icon></button>
                <button id="button" (click)="RemoveFromCart(item,item.id)" mat-button>Remove from Cart</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>