<div class="homepage">
    <!-- Home page Header Image -->
    <div class="homeimg">
        <img src="https://static.nike.com/a/images/f_auto/dpr_1.4,cs_srgb/w_1285,c_limit/5d2eed70-3892-4a25-8a82-127ab934b89b/nike-just-do-it.jpg"
            alt="">
    </div>

    <!-- Home page header down details -->
    <div class="home">
        <h1>GET OUT & GO ALL IN</h1>
        <h4>Get Out Of Your comfort zone. That's Our ACG Earthings discovered out across the mountainous countryside of
        </h4>
        <h4>Gorgia to put the Holiday '22 collection to the test. Originally desgined on a research trip summiting Mount
            Hood,the collection is built </h4>
        <h4>to provide warmth and cold-weather the protection to keep you moving in any condition.</h4>
        <button (click)="Shop()">Shop</button>
        <h5>NEW ARRIVAL</h5>
    </div>

    <!-- New Arrival -->
    <div class="shop-img">
        <mat-card>
            <img src="https://static.nike.com/a/images/f_auto/dpr_1.4,cs_srgb/h_700,c_limit/7b87ceab-592a-483b-8ebd-f70abdad0765/nike-just-do-it.png"
                alt="">
            <button (click)="Shop()">Shop Men's</button>
        </mat-card>

        <mat-card>
            <img src="https://static.nike.com/a/images/f_auto/dpr_1.4,cs_srgb/h_700,c_limit/ab68fd91-5995-4c1d-9810-987e4603b8df/nike-just-do-it.png"
                alt="">
            <button (click)="Shop()">Shop Women's</button>
        </mat-card>

        <mat-card>
            <img src="https://static.nike.com/a/images/f_auto/dpr_1.4,cs_srgb/h_700,c_limit/b91f36d2-6015-4267-856e-8d7d74f349ba/nike-just-do-it.png"
                alt="">
            <button (click)="Shop()">Shop Kid's</button>
        </mat-card>
    </div>

    <!-- Shoes Slider List -->
    <div class="card-slide">
        <nav>
            <ul>
                <li class="heading-spotlight">In The Spotlight</li>
            </ul>
            <ul class="reverse">
                <li class="heading-spotlight"><mat-icon href="#forward">forward</mat-icon></li>
                <li class="heading-spotlight"><mat-icon class="backward">forward</mat-icon></li>
                <li class="heading-spotlight2" (click)="Shop()">Shop</li>
            </ul>
        </nav>
        <div>
            <mat-card>
                <img (click)="Shop()"
                    src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.4/w_422,c_limit/44c7d116-ae35-4a39-b1eb-47d6a699c7c3/dunk-low-retro-shoes-9L8Z5s.png"
                    alt="">
                <mat-card-content>
                    <h5>
                        Nike Dunk Low Retro Premium
                    </h5>
                    <h5>
                        <span>$9950</span>$9,695
                    </h5>
                </mat-card-content>
                <h5 class="h5">Men's Shoes</h5>
            </mat-card>

            <mat-card>
                <img (click)="Shop()"
                    src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.4/w_422,c_limit/0f3036cb-8b5b-4adb-998f-9c732d5818cb/dunk-low-shoes-w37m3B.png"
                    alt="">
                <mat-card-content>
                    <h5>
                        Nike Dunk Low Retro Premium
                    </h5>
                    <h5>
                        <span>$9950</span>$9,695
                    </h5>
                </mat-card-content>
                <h5 class="h5">Men's Shoes</h5>
            </mat-card>

            <mat-card>
                <img (click)="Shop()"
                    src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.4/w_422,c_limit/2e6195aa-1aec-4fab-bd86-c15130bbdc23/dunk-low-shoes-VvsHVn.png"
                    alt="">
                <mat-card-content>
                    <h5>
                        Nike Dunk Low Retro Premium
                    </h5>
                    <h5>
                        <span>$9950</span>$9,695
                    </h5>
                </mat-card-content>
                <h5 class="h5">Men's Shoes</h5>
            </mat-card>

            <mat-card>
                <img (click)="Shop()"
                    src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.4/w_422,c_limit/f9c0a331-7ca3-48c3-b241-16b54e07d80d/dunk-low-disrupt-2-shoes-rmbZnK.png"
                    alt="">
                <mat-card-content>
                    <h5>
                        Nike Dunk Low Retro Premium
                    </h5>
                    <h5>
                        <span>$9950</span>$9,695
                    </h5>
                </mat-card-content>
                <h5 class="h5">Men's Shoes</h5>
            </mat-card>

            <mat-card>
                <img (click)="Shop()"
                    src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.4/w_422,c_limit/dfca22de-c114-4992-bf9b-03f122b2a4bf/dunk-low-retro-shoes-mB3d0z.png"
                    alt="">
                <mat-card-content>
                    <h5>
                        Nike Dunk Low Retro Premium
                    </h5>
                    <h5>
                        <span>$9950</span>$9,695
                    </h5>
                </mat-card-content>
                <h5 class="h5">Men's Shoes</h5>
            </mat-card>

            <mat-card>
                <img (click)="Shop()"
                    src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.4/w_422,c_limit/2543e121-c094-42a8-b3a8-d37c2ccab1e2/dunk-low-retro-se-shoes-chsffk.png"
                    alt="">
                <mat-card-content>
                    <h5>
                        Nike Dunk Low Retro Premium
                    </h5>
                    <h5>
                        <span>$9950</span>$9,695
                    </h5>
                </mat-card-content>
                <h5 class="h5">Men's Shoes</h5>
            </mat-card>

            <mat-card>
                <img (click)="Shop()"
                    src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.4/w_422,c_limit/616a8a2f-193d-437c-b336-b4df8eacf0d3/air-jordan-1-mid-se-shoes-pZbfP8.png"
                    alt="">
                <mat-card-content>
                    <h5>
                        Nike Dunk Low Retro Premium
                    </h5>
                    <h5>
                        <span>$9950</span>$9,695
                    </h5>
                </mat-card-content>
                <h5 class="h5">Men's Shoes</h5>
            </mat-card>

            <mat-card>
                <img (click)="Shop()"
                    src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.4/w_422,c_limit/585f399c-2ae5-4e12-9a4e-df531c0de400/air-jordan-1-retro-high-og-shoe-PLe8kL.png"
                    alt="">
                <mat-card-content>
                    <h5>
                        Nike Dunk Low Retro Premium
                    </h5>
                    <h5>
                        <span>$9950</span>$9,695
                    </h5>
                </mat-card-content>
                <h5 class="h5">Men's Shoes</h5>
            </mat-card>

            <mat-card>
                <img (click)="Shop()"
                    src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.4/w_422,c_limit/1751c124-e45b-4025-a6fa-dfbc699e53ef/air-jordan-1-mid-ss-older-shoes-nKKpss.png"
                    alt="">
                <mat-card-content>
                    <h5>
                        Nike Dunk Low Retro Premium
                    </h5>
                    <h5>
                        <span>$9950</span>$9,695
                    </h5>
                </mat-card-content>
                <h5 class="h5">Men's Shoes</h5>
            </mat-card>

            <mat-card id="forward">
                <img (click)="Shop()"
                    src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.4/w_422,c_limit/fb6e2b00-10de-47ac-ac19-0a6828321988/dunk-low-se-shoes-nVLS2h.png"
                    alt="">
                <mat-card-content>
                    <h5>
                        Nike Dunk Low Retro Premium
                    </h5>
                    <h5>
                        <span>$9950</span>$9,695
                    </h5>
                </mat-card-content>
                <h5 class="h5">Men's Shoes</h5>
            </mat-card>
        </div>
    </div>
    <!-- Featured Two Image Card -->
    <div class="two-card">
        <h5>Featured</h5>
        <div>
            <mat-card>
                <img src="https://static.nike.com/a/images/f_auto/dpr_1.4,cs_srgb/w_637,c_limit/d9bb89f6-2437-4905-b47e-69aad58ff5bf/nike-just-do-it.png"
                    alt="">
                <div class="img-det">
                    <h4>Nike Swoosh</h4>
                    <h5>"Fitted, Light, Supportive"-Mishti Khatri,Sport Nutritionist!</h5>
                    <button (click)="Shop()">Shop</button>
                </div>
            </mat-card>
            <mat-card>
                <img src="https://static.nike.com/a/images/f_auto/dpr_1.4,cs_srgb/w_637,c_limit/c59f0f1b-4276-41ab-a613-704b8c2668ab/nike-just-do-it.png"
                    alt="">
                <div class="img-det">
                    <h5>A Year Of You</h5>
                    <h5>Nike Membees' Moves In 2022</h5>
                    <button (click)="Shop()">Watch Now</button>
                </div>
            </mat-card>
        </div>
    </div>
    <!--  -->
    <div class="dont-miss">
        <h5>Don't Miss</h5>
        <img src="https://static.nike.com/a/images/f_auto/dpr_1.4,cs_srgb/w_1285,c_limit/c8400ef8-76bd-4c9b-9f66-b1af3ae7ba78/nike-just-do-it.png"
            alt="">
        <div>
            <h1>
                MAKE THE CUT
            </h1>
            <h6>Cut with quickness on the court like Detriot Pistons Point Guard Cade Cunningham. Designed with advanced
                traction, dynamic</h6>
            <h6>responsiveness, and on-court comfort, the Air Zoom G.T. Cut 2 elevates his style of play.</h6>
            <button (click)="Shop()">Shop</button>
        </div>
    </div>
    <!--  -->
    <div class="more">
        <h5>More Nike</h5>
        <div>
            <mat-card>
                <img src="https://static.nike.com/a/images/f_auto/dpr_1.4,cs_srgb/w_422,c_limit/cb91797a-6054-4201-8bee-c08700c83e47/nike-just-do-it.png"
                    alt="">
                <div class="img-det">
                    <button (click)="Shop()">Men's</button>
                </div>
            </mat-card>
            <mat-card>
                <img src="https://static.nike.com/a/images/f_auto/dpr_1.4,cs_srgb/w_422,c_limit/b47f5049-1b86-4642-b50c-310ce59b5940/nike-just-do-it.png"
                    alt="">
                <div class="img-det">
                    <button (click)="Shop()">Women's</button>
                </div>
            </mat-card>
            <mat-card>
                <img src="https://static.nike.com/a/images/f_auto/dpr_1.4,cs_srgb/w_422,c_limit/b47f5049-1b86-4642-b50c-310ce59b5940/nike-just-do-it.png"
                    alt="">
                <div class="img-det">
                    <button (click)="Shop()">Kid's</button>
                </div>
            </mat-card>
        </div>
    </div>
    <!--  -->
    <div class="lists">
        <div>
            <h1>Icons</h1>
            <li>Air Force </li>
            <li>Huarache</li>
            <li>Air Max 90</li>
            <li>Air Max 95</li>
            <li>Air Max 97</li>
            <li>Air Max 270</li>
            <li>Air Max 720</li>
            <li>All Air Max</li>
            <li>Vampormax</li>
        </div>
        <div>
            <h1>Shoes</h1>
            <li>All Shoes</li>
            <li>Custom Shoes</li>
            <li>Jordan Shoes</li>
            <li>Running Shoes</li>
            <li>Basketball Shoes</li>
            <li>Football Shoes</li>
            <li>Gym & Training Shoes</li>
            <li>LifeStyle Shoes</li>
            <li></li>
        </div>
        <div>
            <h1>Clothing</h1>
            <li>All Clothing</li>
            <li>Modest Wear</li>
            <li>Shirts & Tops</li>
            <li>Hoodies & Pullover</li>
            <li>Shirts </li>
            <li>Jacket's</li>
            <li>Compression & Nike Pro</li>
            <li>Trouser's & Leggings</li>
            <li>Shorts</li>
        </div>
        <div>
            <h1>Kid's</h1>
            <li>Infant & Toddler Shoes</li>
            <li>Kids' Shoes</li>
            <li>Kids' Jordan Shoes</li>
            <li>Kids' Basketball Shoes</li>
            <li>Kids' Running Shoes</li>
            <li>Kids' Clothing</li>
            <li>Kids' Backpacks</li>
            <li>Kids' Socks</li>
            <li></li>
        </div>
    </div>
    <!--  -->
    <div class="footer">
        <div class="contact">
            <div>
                <h2>Creator : </h2>
                <h4>Sagar Shivaji Katad</h4>
            </div>
            <div>
                <h2>Contact : </h2>
                <h4>7769820646</h4>
            </div>
            <div>
                <h2>Mail :</h2>
                <h4>mrsagarkatad@gmail.com</h4>
            </div>
            <div>
                <h2>Address :</h2>
                <h4>At Matori, Nashik, Maharashtra.</h4>
            </div>
        </div>
    </div>
</div>