.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 100vw;
    background-color: rgb(245, 245, 245);

    .nav1 {
        display: flex;
        flex-wrap: wrap;
        width: 28vw;
        padding: 0 1vw;

        img {
            height: 2vw;
            width: 2vw;
            border-radius: 50%;
        }
    }

    .nav2 {
        display: flex;
        width: 70vw;

        ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            flex-direction: row-reverse;
            padding: 0 2vw;

            li {
                padding: 0 2vw;
                list-style: none;
                border-left: 1px solid gray;
            }
        }
    }
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    // background-color: rgb(92, 14, 73);
    overflow-x: hidden;
    background-color: white;

    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 33%;

        ul {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            // margin: 0vw 2vw;
            padding: 0 2.5vw;

            li {
                list-style: none;
                color: rgb(5, 0, 0);
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                padding: 0vw 2vw;
                border-radius: 0.5vw;
                transition: 0.5s;

                img {
                    height: 3vw;
                    width: 3vw;
                    border-radius: 50%;
                }

                input {
                    font-size: 1.2vw;
                    width: 12vw;
                    background-color: rgb(245, 245, 245);
                    padding: 0.5vw 0;
                    border: none;
                    border-radius: 1vw;
                }

                .mat-icon {
                    font-size: 3.5vh;
                }

                .mat-icon:hover {
                    color: rgb(79, 9, 9);
                }
            }
        }
    }
}

// 
.navslide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    flex-direction: row;
    // border: 1px solid red;

    .nav2slide {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background-color: rgb(20, 57, 90);
        // border: 1px solid red;

        ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            // border: 1px solid red;

            li {
                padding: 0;
                list-style: none;
                transition: 2s;
                font-size: 1.3vw;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: white;
                // border: 1px solid red;
            }
        }
    }
}

// 
#home_page {
    width: 100vw;
    max-width: 100%;
}


// login signup
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 8vw;

    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40vw;
        padding: 5vw 0;
        border-radius: 1vw;
        background-color: rgb(212, 238, 161);

        h3 {
            font-size: 4vw;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding: 4vw 0;
            color: rgb(35, 30, 30);
        }

        div {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 70%;
            margin: 1.4vw 0;

            label {
                font-size: 1vw;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: rgb(82, 3, 82);
            }

            input {
                width: 10vw;
                font-size: 1.1vw;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                padding: 0.3vw 1vw;
                border-radius: 0.2vw;
                border: none;
                background-color: aliceblue;
                transition: 1s;
            }

            input:hover {
                width: 90%;
            }
        }

        span {
            font-size: 1.1vw;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding: 1vw 0;
            color: rgb(35, 30, 30);
        }

        a {
            font-size: 1vw;
            color: gray;
        }

        button {
            width: 50%;
            height: 2vw;
            color: rgb(249, 248, 247);
            font-size: 1.1vw;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin: 0;
            padding: 0;
            border-radius: 0.5vw;
            border: none;
            background-color: rgb(255, 94, 2);
            transition: 0.5s;
        }

        button:hover {
            transform: scale(0.8);
        }
    }
}

// login signup


@media screen and (max-width:420px) {
    .nav{
        max-width: 100vw;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        .nav1{
            img{
                height: 3vh;
                width: 6vw;
            }
        }
        .nav2{
            width: auto;
            flex-direction: row-reverse;
            padding: 0;
            ul{
                li{
                    font-size: 3vw;
                }
            }
        }
    }

    #navbar{
        max-width: 100vw;
        nav{
            width: auto;
            ul{
                width: fit-content;
                li{
                    padding:0 3vw;
                    margin: 0;
                    img{
                        height: 3vh;
                        width: 6vw;
                    }
                    input{
                        min-width: 12vw;
                        font-size: 3vw;
                        height: 3vh;
                    }
                }
            }
            #noresp{
                display: none;
                visibility: hidden;
            }
        }
    }
    .navslide{
        .nav2slide{
            ul{
                li{
                    padding: 0;
                    font-size: 3vw;
                    margin-left: -12vw;
                }
            }
        }
    }

}